.sideBar {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-primary);
  border-right: 2px solid var(--border-color-primary);
  overflow: hidden;
  z-index: 1; /* import to hover themeSwitcher */
}

@media only screen and (max-width: 900px) {
  .sideBar {
    width: 100%;
  }

  .sideBar.open {
    height: 100%;
  }
}

.header {
  display: flex;
  padding: 0.5rem;
  border-bottom: 2px solid var(--border-color-primary);
}

.headerStat {
  flex: 1;
  color: var(--text-color-primary);
  text-align: center;
  cursor: pointer;
}

.headerStat:hover {
  opacity: 0.8;
}

.headerStatLabel {
  font-size: 0.75rem;
}

.headerStatTotalQuantity {
  font-weight: bold;
}
