@import "../common/theme/dark.css";
@import "../common/theme/light.css";

html,
body,
#root {
  height: 100%;
  width: 100%;
  position: fixed; /* Prevents Chrome mobile issue with URL Bar resizing */
  font-size: 100%;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .App {
    flex-direction: column;
  }
}
