:root.light {
  --text-color-primary: #555555;
  --text-color-light: #555555;
  --background-color-primary: #f0f0ef;
  --background-color-secondary: #d6d6d6;
  --background-color-light: #fff;

  --border-color-primary: #d6d6d6;
}
