.searchBar {
  display: flex;

  input {
    flex: 1;
    padding: 0.5rem;
    font-size: 0.875rem;
    background-color: var(--background-color-light);
    border: 2px solid var(--border-color-primary);
    border-left-width: 0;
    border-right-width: 0;
    color: var(--text-color-light);
  }
}
