.mapContainer {
  flex: 1;
}

.tooltip {
  position: absolute;
  max-width: 300px;
  margin: 0.5rem;
  padding: 0.75rem;
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
  border: 2px solid var(--border-color-primary);
  font-size: 0.75rem;
  pointer-events: none;
}

.tooltip div {
  display: flex;
}

.tooltip div span {
  flex: 1;
  padding-top: 0.25rem;
}

.tooltip div span:last-child {
  padding-left: 0.75rem;
  text-align: right;
}
