.timeline-panel {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 50px;
  padding: 12px 24px;
  background-color: #fff;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: auto;
}

.timeline-panel .range {
  width: 100%;
  cursor: pointer;
}
